body {
    margin: 10px;
    background-color: rgba(149, 207, 188, 0.534);
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    width: 80%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h1, h3, th, td, input, button {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

#addEmployeeButton {
    margin: 15px;
   
}

#totalMonthlyExpenses {
    text-align: right;
    padding: 30px;
}